:root{
    --accent-color:#2196F3;
    --primary-text-color:#212121;
    --secondary-text-color:#757575;}
ul,ol {
    list-style: none;}
img {
    display: block;}
button {cursor: pointer;}  
body{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    background-color: #ffffff;
    color:var(--primary-text-color);}
.portfolio-body {
    background-color: #FFFFFF;}
/*header*/
.portfolio-header {
    background-color: #FFFFFF;}
.logo {
    text-decoration: none;
    color:var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;}
.logo-dark {
    color: #000000;}
.header-list-link {
    font-size: 14px;
    line-height: 1.14;
    color: var(--primary-text-color);
    text-decoration : none;}
.header-list-link:hover,
.header-list-link:focus {
    color:var(--accent-color);}
/*main*/
.title { 
    background-color: #2F303A;}
.title-item {
    font-size: 44px;
    line-height: 1.36;
    letter-spacing:0.06em;
    text-transform: uppercase;
    color:#FFFFFF;}
.portfolio-button {
    color:var(--primary-text-color);
    background-color: #F5F4FA;
    cursor: pointer;}
.portfolio-button:hover,
.portfolio-button:focus {
    background-color: var(--accent-color);
    color:#FFFFFF;}
.button {
    background-color: var(--accent-color);
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;}
.button:hover,
.button:focus {
    background-color: #188CE8;}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;}
.main-title {
    text-transform: uppercase;
    font-style: Bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color:var(--primary-text-color);}
.main-list {
    font-style: Regular;
    font-size: 14px;
    line-height:1.71;
    letter-spacing: 0.03em;
    color:var(--secondary-text-color)}
.main-team  {
    background-color: #F5F4FA;}
.main-team-foto {
    background-color: #FFFFFF;}
.main-portfolio-foto {
    background-color: #FFFFFF;}
.main-portfolio { 
    color:var(--secondary-text-color);
    font-style: Regular;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;}
.main-portfolio-title {
    font-style: Bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);}
.main-title-icon {
    font-style: Bold;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);}
/*footer*/
.footer-style {
    font-style: normal;}
.footer-item { 
    background-color: #2F303A;} 
.logo-footer {
    text-decoration: none;
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;}  
.logo-light {
    color: #FFFFFF;}
.footer-address {
    text-decoration: none;
    color: #FFFFFF;
    font-style: Regular;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;}
.footer-address:hover,
.footer-address:focus {
    color:var(--accent-color);} 
.footer-contacts {
    text-decoration: none;
    color: #FFFFFF99;
    font-style: Regular;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;} 
.footer-contacts:hover,
.footer-contacts:focus {
    color:var(--accent-color);}   
